.title {
  color: var(--theme-color-dark);
  font-weight: 300;
  font-size: 42px;
  width: 100%;
  text-align: center;
}

.add-button {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  border: none;
  display: block;
  border-radius: var(--form-border-radius);
  padding: 0 10px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
}

.listing-picker-label {
  color: var(--theme-color-dark);
  line-height: 40px;
  font-weight: 500;
  flex-shrink: 0;
}

.listing-picker-input {
  background-color: var(--theme-background-light);
  color: var(--theme-color-normal);
  border: 1px solid var(--theme-color-normal);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listPicker {
  display: flex;
  align-items: center;
}
