:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  --theme-background-ultralight: #effaff;
  --theme-background-normal: #a0d2eb;
  --theme-background-light: #e5eaf5;
  --theme-color-light: #d0bdf4;
  --theme-color-normal: #8458b3;
  --theme-color-dark: #494d5f;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  max-width: 1024px;
  margin: auto;
  padding: 0 10px;
}
